C 0 0 "TD+" 0 0 0 0 60 0 L
X "PIN_TEXT" "TD+" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CT_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CT_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "TD-" 0 -200 0 0 60 0 L
X "PIN_TEXT" "TD-" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "NC_2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "RD+" 0 -500 0 0 60 0 L
X "PIN_TEXT" "RD+" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "CT_2" 0 -600 0 0 60 0 L
X "PIN_TEXT" "CT_2" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "RD-" 0 -700 0 0 60 0 L
X "PIN_TEXT" "RD-" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1100 0 "TX+" 1100 0 0 0 60 0 R
X "PIN_TEXT" "TX+" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "CT_4" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "CT_4" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "TX-" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "TX-" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "NC_4" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "NC_4" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
C 1100 -400 "NC_3" 1100 -400 0 0 60 0 R
X "PIN_TEXT" "NC_3" 870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -400 1100 -400 -1 0
C 1100 -500 "RX+" 1100 -500 0 0 60 0 R
X "PIN_TEXT" "RX+" 870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -500 1100 -500 -1 0
C 1100 -600 "CT_3" 1100 -600 0 0 60 0 R
X "PIN_TEXT" "CT_3" 870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -600 1100 -600 -1 0
C 1100 -700 "RX-" 1100 -700 0 0 60 0 R
X "PIN_TEXT" "RX-" 870 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -700 1100 -700 -1 0
L 200 100 900 100 -1 0
L 900 -800 900 100 -1 0
L 900 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

